<div class="container">
<h1>商品新規登録</h1>
<table>
<%= form_for(@item, url:admin_items_path) do |f| %>
<tr>
<th>画像</th>
  <td><%= f.file_field :image, accept: "image/*",size: "400x300" %></td>
</tr>
<tr>
  <th>商品名</th> 
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <th>商品説明</th> 
  <td><%= f.text_field :introduction %></td>
</tr>
<tr>
  <th>税抜価格</th> 
  <td><%= f.text_field :price %>円</td>
</tr>
<tr>
<td><%= f.submit '新規登録',class:"btn btn-success" %></td>
</tr>
<% end %>
</table>
</div>