<h1>商品詳細</h1>
  <div style="padding-left:20%;">
    <%= image_tag url_for(@item.image), class: 'img-fluid', style: 'width: 35%;' %>
  </div>

  <strong>商品名 </strong><span><%= @item.name %></span>
  <strong>商品説明 </strong><span><%= @item.introduction %></span>
  <strong>税抜価格 </strong><span><%= @item.price %>円</span>
<%= link_to '編集する', edit_admin_item_path %>
