<div class="container">
<%= form_with model: @order, url:  orders_path , local: true do |f| %>
<h2>注文情報確認</h2>
 <div class="row">
		<div class="col-xs-6">
			<table class="table table-bordered">
<tr>
<th>商品名</th>
<th>単価（税込）</th>
<th>数量</th>
<th>小計</th>
</tr>
<% @cart_items.each do |cart_item| %>
<td><%= cart_item.item.name %></td>
<td><%= cart_item.item.with_tax_price %></td>
<td><%= cart_item.amount %></td>
<td><%= cart_item.subtotal%></td>
<% @total += cart_item.subtotal %>
<% end %>
</table>
</div>
</div>

<div class="row">
				<div class="col-xs-4">
					<table class="table table-bordered">
<tr>
<td>送料</td>
<td>800</td>
</tr>
<tr>
<td>商品合計</td>
<td><%= @total %></td>
</tr>
<tr>
<td>請求金額</td>
<td><%= @total += 800 %></td>
</tr>
</table>
</div>
</div>

<table>
<tr>
<td>支払方法</td>
<td>お届け先</td>
</tr>
<tr>
<%= @order.payment_method_i18n%>
<%= @customer.address%>
<td><%= @customer.last_name %><%= @customer.first_name %></td>
</tr>
</table>
 <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :payment_method, value:  @order.payment_method %>
  <%= f.hidden_field :postage, value: 800 %>
  <%= f.hidden_field :shipping_postal_code, value: @customer.postal_code %>
  <%= f.hidden_field :total_billing_amount, value: @total + 800%>
  <%= f.hidden_field :shipping_address, value: @customer.address %>
  <%= f.hidden_field :shipping_name, value: @customer.last_name+@customer.first_name %>
 
<%= f.submit "確認画面へ進む",class:"btn btn-success" %>
<% end %>
