 <div style="padding-left:20%;">
  <%= image_tag url_for(@item.image), class: 'img-fluid', style: 'width: 35%;' %>
  </div>
  <table>
    <tr><%= @item.name %></tr>
    <tr><%= @item.introduction %></tr>
    <tr><%= @item.price %>円</tr>
  </table>
<%= form_with model: @cart_item do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..10] %>
<%= f.submit "カートに入れる" %>
<% end %>
